/*  your css code here. If applicable */
:root{
	background-color:rgb(135, 206, 235);
}
p:first-child{
	background-color:black;
	color:white;
}

p:nth-child{
	color:black;
}

p:last-child{
	color:red;
	
}


#li1id{
	background-color:white;
	
}
#li2id{
	background-color:slategray;
	
}
#li3id{
	background-color:lightpink;
	
}


